<p id="notice"><%= notice %></p>

<div class="container">
	<h3>Sexy Sidebar Navigation<br />
        <small>A simple, sheek navigation bar style!</small>
    </h3>
    <br />

    <div class="row">
        <div class="col-sm-2">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">About</a></li>
                    <li><a href="javascript:;">Products</a></li>
                    <li><a href="javascript:;">FAQ</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-2 col-sm-offset-8">
        <nav class="nav-sidebar pull-right">
                <ul class="nav">
                    <li class="active"><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">A long link will naturally wrap around</a></li>
                    <li class="text-overflow" title="An long link with .text-overflow"><a href="javascript:;">A link with .text-overflow can be applied in case it's too long!</a></li>
                    <li>
                        <a href="javascript:;" class="media">
                            <span class="pull-left">
                                <i class="media-object glyphicon glyphicon-list"></i>
                            </span>
                            <div class="media-body">
                                A media object can also be a link, making longer wrapping links play well with the icons!
                            </div>
                        </a>
                    </li>
                    <li class="text-overflow" title="Combine them all to make an awesome, safe solution!">
                        <a href="javascript:;" class="media">
                            <span class="pull-left">
                                <i class="media-object glyphicon glyphicon-list"></i>
                            </span>
                            <div class="media-body">
                                Combine them all to make an awesome, safe solution!
                            </div>
                        </a>
                    </li>
                    <li class="nav-divider"></li>
                    <li><a href="javascript:;"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<h1>Recomendaciones WEB</h1>

<table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Url</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Llamadas</th>
      <th>Puntaje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= recommendation.category %></td>
        <td><%= recommendation.url %></td>
        <!-- <td><%#= recommendation.name %></td> -->
        <td><a href= "<%= recommendation.url %>" target=”_blank”> <%= recommendation.name %></a></td>
        <td><%= recommendation.description %></td>
        <td><%= recommendation.calls %></td>
        <td><%= recommendation.score %></td>
        <td><%= link_to 'Ver', recommendation %></td>
        <td><%= link_to 'Editar', edit_recommendation_path(recommendation) %></td>
        <td><%= link_to 'Eliminar', recommendation, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Recomendación', new_recommendation_path %>
